/*Logo CSS*/
.container a img {
    width: 125px;
    height: 125px;
    cursor: pointer;
}


/*Main Navigation CSS*/
.dropdown-menu li:hover {
    background-color: #6EC6FF;
    color: #fff; 
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
    margin-right: 90px;
    

    font-size: 20px;
}
  
nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
}
  
nav ul li a:hover {
    background-color: #6EC6FF;
    color: #fff;
}

.nav-item a {
    margin-top: 35px;
}

.navbar {
    max-height: 150px;
}


/*Sub Navigation*/
nav ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}
  
nav ul li ul li {
    display: block;
}
  
nav ul li:hover ul {
    display: block;

}

.dropdown-menu li a {
    margin-top: -1px;
}

nav ul li ul li:hover {
    display: block;

    background-color: #6EC6FF;
    color: #fff;
}

/*Main Page content*/
body {
    background-color: #F5DEB3 !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.column {
    flex-basis: calc(50% - 100px);
    margin-bottom: 40px;
}

.column h2 {
    
    color: rgb(7, 7, 129);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 36px;

    margin-top: 40px;
}

.column p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.imgColumn {
    max-width: 100%;
    height: 100%;

    cursor: pointer;    
}

.zeff {
    width: 300px;
    height: 300px;
    margin-right: 60px;

    border-radius: 50%;
}

/*Dynamic image code not working*/
.zeff2 {
    width: 300px;
    height: 300px;
    margin-right: 60px;

    border-radius: 50%;
    display: none;


}

.zeff2:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/*Location*/
.location {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    width: 600px;
    height: 300px;

    margin-left: 250px;
    
}

.map {
    width: 600px;
    height: 300px;

    border-radius: 25%;

    margin-bottom: 20px;
}

.location p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    justify-content: center;
    text-align: center;
}